@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Layout */
html, body, #root {
  height: 100%;
}

body {
  @apply bg-gray-50 text-slate-900 antialiased;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}
